apiVersion: apps/v1
kind: Deployment
metadata:
  name: website
spec:
  replicas: 1
  selector:
    matchLabels:
      app: website
  template:
    metadata:
      labels:
        app: website
    spec:

      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - website
                topologyKey: failure-domain.beta.kubernetes.io/zone
              weight: 100
      containers:
        - name: website
          image: ghcr.io/homebithub/website:20251107005915
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 60
            periodSeconds: 60
            failureThreshold: 3
      imagePullSecrets:
        - name: ghcr-secret
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: website-srv
spec:
  selector:
    app: website
  ports:
    - name: website
      protocol: TCP
      port: 80
      targetPort: 3000
  type: LoadBalancer
